
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Movie App</title>
    </head>
    <body>
    
        <header>
            <div class="container-logo">
                <img src="https://img.icons8.com/ios/50/000000/home--v1.png" alt="Homepage" onClick="goHome()"/>
            </div>            

            <div class="container-search">
            <form id="form">
                <input type="text" placeholder="Search" id="search" class="search">
            </form>
            </div>
        </header>
        <main id="main">
            <h1 class="rec-title">Recommended for you:</h1>
            <div class="padding-div">
    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500" alt="Pan's Labyrinth (Laberinto del fauno, El) ">
                            <div class="movie-info">
                                <h3>Pan's Labyrinth (Laberinto del fauno, El) </h3>
                                <span class="">0</span>
                            </div>
                            <div class="overview">
                                <p></p>
                                <br/> 
                                <button class="know-more" id="0" onClick="location.href = 'https://www.themoviedb.org/movie/0';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/7sfbEnaARXDDhKm0CZ7D7uc2sbo.jpg" alt="Inglourious Basterds ">
                            <div class="movie-info">
                                <h3>Inglourious Basterds </h3>
                                <span class="green">8.2</span>
                            </div>
                            <div class="overview">
                                <p>In Nazi-occupied France during World War II, a group of Jewish-American soldiers known as "The Basterds" are chosen specifically to spread fear throughout the Third Reich by scalping and brutally killing Nazis. The Basterds, lead by Lt. Aldo Raine soon cross paths with a French-Jewish teenage girl who runs a movie theater in Paris which is targeted by the soldiers.</p>
                                <br/> 
                                <button class="know-more" id="16869" onClick="location.href = 'https://www.themoviedb.org/movie/16869';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg" alt="Fight Club ">
                            <div class="movie-info">
                                <h3>Fight Club </h3>
                                <span class="green">8.4</span>
                            </div>
                            <div class="overview">
                                <p>A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.</p>
                                <br/> 
                                <button class="know-more" id="550" onClick="location.href = 'https://www.themoviedb.org/movie/550';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg" alt="American History X ">
                            <div class="movie-info">
                                <h3>American History X </h3>
                                <span class="green">8.4</span>
                            </div>
                            <div class="overview">
                                <p>Derek Vineyard is paroled after serving 3 years in prison for killing two African-American men. Through his brother, Danny Vineyard's narration, we learn that before going to prison, Derek was a skinhead and the leader of a violent white supremacist gang that committed acts of racial crime throughout L.A. and his actions greatly influenced Danny. Reformed and fresh out of prison, Derek severs contact with the gang and becomes determined to keep Danny from going down the same violent path as he did.</p>
                                <br/> 
                                <button class="know-more" id="73" onClick="location.href = 'https://www.themoviedb.org/movie/73';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/ctjEj2xM32OvBXCq8zAdK3ZrsAj.jpg" alt="Catch Me If You Can ">
                            <div class="movie-info">
                                <h3>Catch Me If You Can </h3>
                                <span class="orange">7.9</span>
                            </div>
                            <div class="overview">
                                <p>A true story about Frank Abagnale Jr. who, before his 19th birthday, successfully conned millions of dollars worth of checks as a Pan Am pilot, doctor, and legal prosecutor. An FBI agent makes it his mission to put him behind bars. But Frank not only eludes capture, he revels in the pursuit.</p>
                                <br/> 
                                <button class="know-more" id="640" onClick="location.href = 'https://www.themoviedb.org/movie/640';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg" alt="The Matrix">
                            <div class="movie-info">
                                <h3>The Matrix</h3>
                                <span class="green">8.2</span>
                            </div>
                            <div class="overview">
                                <p>Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.</p>
                                <br/> 
                                <button class="know-more" id="603" onClick="location.href = 'https://www.themoviedb.org/movie/603';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500None" alt="Band of Brothers ">
                            <div class="movie-info">
                                <h3>Band of Brothers </h3>
                                <span class="orange">7.6</span>
                            </div>
                            <div class="overview">
                                <p>A documentary about the making of the HBO mini-series "Band of Brothers"</p>
                                <br/> 
                                <button class="know-more" id="268859" onClick="location.href = 'https://www.themoviedb.org/movie/268859';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/4sHeTAp65WrSSuc05nRBKddhBxO.jpg" alt="A Clockwork Orange">
                            <div class="movie-info">
                                <h3>A Clockwork Orange</h3>
                                <span class="green">8.2</span>
                            </div>
                            <div class="overview">
                                <p>In a near-future Britain, young Alexander DeLarge and his pals get their kicks beating and raping anyone they please. When not destroying the lives of others, Alex swoons to the music of Beethoven. The state, eager to crack down on juvenile crime, gives an incarcerated Alex the option to undergo an invasive procedure that'll rob him of all personal agency. In a time when conscience is a commodity, can Alex change his tune?</p>
                                <br/> 
                                <button class="know-more" id="185" onClick="location.href = 'https://www.themoviedb.org/movie/185';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/kWWAt2FMRbqLFFy8o5R4Zr8cMAb.jpg" alt="The Departed">
                            <div class="movie-info">
                                <h3>The Departed</h3>
                                <span class="green">8.2</span>
                            </div>
                            <div class="overview">
                                <p>To take down South Boston's Irish Mafia, the police send in one of their own to infiltrate the underworld, not realizing the syndicate has done likewise. While an undercover cop curries favor with the mob kingpin, a career criminal rises through the police ranks. But both sides soon discover there's a mole among them.</p>
                                <br/> 
                                <button class="know-more" id="1422" onClick="location.href = 'https://www.themoviedb.org/movie/1422';">Know More</button>
                            </div>
                        </div>
                    
                        <div class="movie">
                            <img src="https://image.tmdb.org/t/p/w500/ge7zbYvpfsDP3luKi0iSpzOgncM.jpg" alt="Antichrist ">
                            <div class="movie-info">
                                <h3>Antichrist </h3>
                                <span class="orange">6.7</span>
                            </div>
                            <div class="overview">
                                <p>A grieving couple retreats to their cabin 'Eden' in the woods, hoping to repair their broken hearts and troubled marriage. But nature takes its course and things go from bad to worse.</p>
                                <br/> 
                                <button class="know-more" id="17609" onClick="location.href = 'https://www.themoviedb.org/movie/17609';">Know More</button>
                            </div>
                        </div>
                    </main>
                    </div>
                    <script src="/static/script.js"></script>
                    </body>
                    </html>